* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

ul {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 500;
    list-style: none;
    width: 500px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 174px;
}


/* secciones */

.seccion1 {
    height: 643px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.espacio  {
    width: 250px;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 57.3px;
    width: 500px;
    text-align: right;
}


.parrafo {

    font-size: 16px;
    font-weight: 500;
    line-height: 27.3px;
    width: 500px;
    text-align: right;
    margin-top: 28px;
    margin-bottom: 38px;
}


.head-button {
    margin-top: 28px;
    text-align: right;
}

.seccion2 {
    background-color:#8B48BF;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.texto-s2, .texto-wh {
    width: 450px;
}

.whats {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

.espacio2  {
    width: 300px;
}

.parrafo2 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}


.seccion3 {
    background-color:cornflowerblue;
    height: 428px;

}

.seccion4 {
    background-color:chartreuse;
    height: 755px;

}

.seccion5 {
    background-color:cadetblue;
    height: 224px;

}

.footer {
    background-color: black;
    height: 247px;

}



/* botón */
.boton {
    background: none;
    text-decoration: none;
    color: white;
    background-color: #8B48BF;
    font-size: 12px;
    padding: 14px 43px;
    border-radius: 30px;
}